html, body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  background: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
ul,
li{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}